@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  overflow-x: hidden;
  /* height: 2000px; */
}

.swiper-wrapper-product {
  width: 1110px;
}

.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #004f53;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: "Roboto";
  line-height: 32px;
  letter-spacing: 5px;
  color: #fff;
  top: -37px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.option__type--active {
  border-color: #4094ea;
}

.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  border-radius: 3px;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.input--payment {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.name__product--hover {
  background: linear-gradient(to right, #00575b, #00575b 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  transition: background-position 275ms ease;
}

.name__product--hover:hover {
  background-position: 0 100%;
}

.capicity-input1:checked ~ .product--checked1,
.capicity-input2:checked ~ .product--checked2,
.capicity-input3:checked ~ .product--checked3,
.color-input1:checked ~ .product-color--checked1
/* .color-input1:checked ~ .product-color--checked1 
.color-input1:checked ~ .product-color--checked1 
.color-input1:checked ~ .product-color--checked1 
.color-input1:checked ~ .product-color--checked1 
.color-input1:checked ~ .product-color--checked1  */ {
  border-color: green;
}

.color-input1:checked ~ .product-color--checked1 {
  
}
